<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML

</HTML>
</title>
<link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <div class="contenedor01" 
        <H2>SOY EL contenedor01</H2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae, cum ipsum nostrum delectus dolore
            corporis? Numquam et molestiae vero voluptatibus quas pariatur voluptatem dignissimos? Quidem sint laborum
            eligendi nulla.</p>
        </div>
            <div class="contenedor02" 
                <H2>SOY EL contenedor02</H2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae, cum ipsum nostrum delectus dolore
                    corporis? Numquam et molestiae vero voluptatibus quas pariatur voluptatem dignissimos? Quidem sint laborum
                    eligendi nulla.</p>
                </div>
</body>

</html>