<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</HTML></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <h1> EL titulo de nuestro documento</h1>

    <h2>Un subtitulo cualquiera</h2>

    <img width="240" src="/images/Logo.jpeg" alt="">

    <p>Lorem <strong> dolor sit amet </strong> adipisicing. <em>Corporis </em> maiores excepturi eligendi nam dolore, adipisci tenetur voluptate non, aspernatur nostrum libero laboriosam. Eius doloribus ut eos sint accusamus, optio corrupti?</p>

    <p class="parrafo-destacado">Lorem ipsum, <em> dolor sit amet </em>consectetur adipisicing elit. Unde ratione laborum velit provident eum accusantium consectetur ab dolorum, molestias quibusdam fuga et natus aperiam at excepturi sit maiores error ea.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.Google.com">Ir Google</a>

</body>
</html>

